/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
/desktop.ini
/package-lock.json
/public/mix-manifest.json
/public/css/
/public/js/
/public/storage/images/
/public/images/

