

@media screen and (min-width: 1101px) {

    html{
        scroll-behavior: smooth;
    }

    body {
        font-family: 'The Girl Next Door', cursive;
        //font-family: 'Poppins', sans-serif;
        margin: 0;
        width: 100%;
    }

    /* HOME_BLOC */

    .parallax_top{
        background-image: url('http://localhost/la-fabrique/public/images/nazareno-contreras-p0NvD6umfgY-unsplash.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        position: relative;
        width: 100%;
        height: 100vh;
    }

    header{
        width: 100%;
        height: 10vh;
        color: #fff;
        text-decoration: none;
        font-size: 19px;
    }

    nav{
        display: flex;
        width: 100%;
        height: 100%;
    }

    #header-name{
        width: 50%;
        margin-left: 5%;
        margin-top: 4vh;
        padding: 0;
    }

    #menu{
        width: 45%;
        text-align: right;
        margin-right: 6%;
        margin-top: 4vh;
        padding: 0;
    }

    #header-name li{
        list-style-type: none;
    }

    #menu li{
        display: inline;
        list-style-type: none;
        margin-left: 5%;
    }

    #menu a{
        text-decoration: none;
        color: #fff;
        transition: 0.25s;
        cursor: pointer;
    }
    #menu a:hover{
        color: #ff0000;
    }

    #container-name{
        height: 70vh;
        width: 100%;
        text-align: center;
    }

    #block-name{
        display: inline-block;
        margin-top: 30vh;
        margin-left: auto;
        margin-right: auto;
    }

    #container-name ul{
        padding: 0;
        text-align: left;
        list-style-type: none;
    }

    #firstname{
        line-height: 0;
        font-size: 5vw;
        color: #fff;
    }

    #lastname{
        margin-left: 20%;
        font-size: 5vw;
        color: #fff;
    }
    #slogan{
        font-size: 2vw;
        color: #636b6f;
    }
    /* END_HOME_BLOC */

    .title{
        display: block;
        height: 108px;
        padding-top: 108px;
        margin-bottom: 75px;
        text-align: center;
        vertical-align: bottom;
    }
    .title h1{
        margin: 0;
        font-size: 40px;
        text-shadow: 2px 4px 2px rgba(0,0,0,0.16);
    }

    .title hr{
        width: 150px;
        border: 1px solid;
        border-radius: 10px;
    }

    /* ABOUT_BLOC */

    #container-about{
        height: 650px;
    }

    #hello{
        height: 10vh;
        text-align: center;
    }

    #hello h2{
        font-size: 30px;
    }

    #about-me{
        width: 50%;
        margin-left: 25%;
        text-align: center;
        font-size: 20px;
        font-family: 'Poppins', sans-serif;
    }

    /* END_ABOUT_BLOC */

    /* PRODUCT_BLOC */

    #product-container{
        display: flex;
        width: 100%;
        height: 800px;
    }

    .product{
        width: 25vw;
        height: 25vw;
        position: relative;
    }

    .product-img{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .product-img img{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .product-txt{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        transition: 0.25s;
    }
    .product-txt:hover{
        background-color: rgba(0,0,0, 0.15);
        box-shadow: 3px 6px 4px #000000;
    }

    .product-txt h2{
        margin-top: 40%;
        margin-left: 0;
        margin-right:0;
        padding: 0;
        color: #fff;
        font-size: 30pt;
    }

    /* END_PRODUCT_BLOC */

}

