

@media screen and (min-width: 1101px) {

    html{
        scroll-behavior: smooth;
    }

    body {
        font-family: 'Poppins', sans-serif;
        margin: 0;
        width: 100%;
    }

    /* HOME_BLOC */

    .parallax_top{
        background-image: url('images/nazareno-contreras-p0NvD6umfgY-unsplash.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        position: relative;
        width: 100%;
        height: 100vh;
    }

    header{
        width: 100%;
        height: 10vh;
        color: #fff;
        text-decoration: none;
        font-size: 19px;
    }

    nav{
        display: flex;
        width: 100%;
        height: 100%;
    }

    #header-name{
        width: 50%;
        margin-left: 5%;
        margin-top: 4vh;
        padding: 0;
    }

    #menu{
        width: 45%;
        text-align: right;
        margin-right: 6%;
        margin-top: 4vh;
        padding: 0;
    }

    #header-name li{
        font-family: 'The Girl Next Door', cursive;
        list-style-type: none;
    }

    #menu li{
        display: inline;
        list-style-type: none;
        margin-left: 5%;
    }

    #menu a{
        text-decoration: none;
        font-weight: 300;
        color: #cccccc;
        transition: 0.25s;
        cursor: pointer;
    }
    #menu a:hover{
        color: #fff;
    }

    #container-name{
        height: 70vh;
        width: 100%;
        text-align: center;
    }

    #block-name{
        display: inline-block;
        margin-top: 30vh;
        margin-left: auto;
        margin-right: auto;
    }

    #container-name ul{
        padding: 0;
        font-family: 'The Girl Next Door', cursive;
        text-align: left;
        list-style-type: none;
    }

    #firstname{
        line-height: 0;
        font-size: 5vw;
        color: #fff;
    }

    #lastname{
        margin-left: 20%;
        font-size: 5vw;
        color: #fff;
    }
    #slogan{
        font-size: 2vw;
        color: #636b6f;
    }
    /* END_HOME_BLOC */

    .title{
        display: block;
        height: 108px;
        padding-top: 108px;
        margin-bottom: 75px;
        text-align: center;
        vertical-align: bottom;
    }
    .title h1{
        margin: 0;
        font-weight: 400;
        font-size: 40px;
        text-shadow: 2px 4px 2px rgba(0,0,0,0.16);
    }

    .title hr{
        width: 75px;
        border: 1px solid;
        border-radius: 10px;
    }

    /* SERVICES_BLOC */

    #services-container{
        //background-image: url('http://localhost/la-fabrique/public/images/sneaky-elbow-N4FB-VFMNEk-unsplash.jpg');
        //background-position: center;
        //background-repeat: no-repeat;
        //background-size: cover;
        //background-attachment: fixed;
        width: 100%;
        height: 650px;
        color: #fff;
    }

    #services-container-op{
        width: 100%;
        height: 100%;
        background-color: rgb(0,0,0, 0.85);
    }

    #services{
        display: flex;
        width: 100%;
        height: 300px;
    }

    .service{
        text-align: center;
        width: 15%;
        font-size: 40pt;
    }
    .service h2{
        font-weight: 400;
        font-size: 15pt;
    }

    .service p{
        font-weight: 400;
        font-size: 12pt;
        color: #cccccc;
    }

    .service-left{
        margin-left: auto;
    }

    .service-mid{
        margin-left: 1%;
        margin-right: 1%;
    }

    .service-right{
        margin-right: auto;
    }

    /* END_SERVICES_BLOC */

    /* ABOUT_BLOC */

    #about-container{
    }
    #about-container-flex{
        display: flex;
        height: 100%;
        width: 100%;
    }

    #about-la-fab{
        display: table-cell;
        width: 40%;
        margin-left: 10%;
        text-align: center;
        vertical-align: middle;
        font-size: 20px;
    }

    #about-img{
        height: 100%;
        width: 35%;
        margin-left: 5%;
    }

    #about-img img{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* END_ABOUT_BLOC */

    /* PRODUCT_BLOC */

    #product-container{
        width: 100%;
        height: 800px;
    }

    #product-container-flex{
        display: flex;
        width: 100%;
        height: 100%;
    }

    .product{
        width: 25vw;
        height: 25vw;
        position: relative;
        transition: 0.25s;
    }
    .product:hover{
        filter: grayscale(100%);
    }

    .product-img{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .product-img img{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


    .product-txt{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        transition: 0.25s;
    }
    .product-txt:hover{
        background-color: rgba(0,0,0, 0.15);
        box-shadow: 3px 6px 4px #000000;
    }

    .product-txt h2{
        margin-top: 40%;
        margin-left: 0;
        margin-right:0;
        padding: 0;
        color: #fff;
        font-weight: 400;
        font-size: 30pt;
    }

    /* END_PRODUCT_BLOC */

    /* FORM_BLOC */

    #contact-container{
        width: 100%;
        height: 500px;
        box-shadow: 1px 3px 2px #000000;
    }

    /* END_FORM_BLOC */

    /* FOOTER_BLOC */

    footer{
        width: 100%;
        height: 200px;
        background-color: rgba(0,0,0, 0.75);
        text-align: center;
        color: #fff;
    }

    #social-media{
        display: flex;
        width: 25%;
        height: 150px;
        margin: auto;
        font-size: 25pt;
    }

    #social-media a{
        margin: auto;
        color: #fff;
        text-shadow: 2px 4px 2px rgba(0,0,0,0.16);
    }


    /* END_FOOTER_BLOC */

}

