
@media screen and (min-width: 1101px) {
    @import "computer";
    @import "contact/contact-computer";

}


@media screen and (max-width: 1100px) {
    @import "phone";
    @import "contact/contact-phone";

}
