@media screen and (max-width: 1100px) {

    html{
        scroll-behavior: smooth;
    }

    body {
        font-family: 'Poppins', sans-serif;
        margin: 0;
        width: 100%;
    }

    /* HOME_PAGE */

    .parallax_top{
        background-image: url('/images/nazareno-contreras-p0NvD6umfgY-unsplash.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        width: 100%;
        height: 100vh;
    }

    header{
        display: none;
    }

    #container-name{
        height: 70vh;
        width: 100%;
        text-align: center;
    }

    #block-name{
        display: inline-block;
        margin-top: 40vh;
        margin-left: auto;
        margin-right: auto;
    }

    #container-name ul{
        padding: 0;
        text-align: left;
        font-family: 'The Girl Next Door', cursive;
        list-style-type: none;
    }

    #firstname{
        line-height: 0;
        font-size: 10vw;
        color: #fff;
    }

    #lastname{
        margin-left: 20%;
        font-size: 10vw;
        color: #fff;
    }
    #slogan{
        font-size: 5vw;
        color: #636b6f;
    }

    /* END HOME_PAGE */

    .title{
        display: block;
        height: 108px;
        padding-top: 108px;
        margin-bottom: 75px;
        text-align: center;
        vertical-align: bottom;
    }
    .title h1{
        margin: 0;
        font-weight: 400;
        font-size: 40px;
        text-shadow: 2px 4px 2px rgba(0,0,0,0.16);
    }

    .title hr{
        width: 150px;
        border: 1px solid;
        border-radius: 10px;
    }

    /* SERVICES_BLOC */

    #services-container{
        background-image: url('/images/sneaky-elbow-N4FB-VFMNEk-unsplash.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        //background-attachment: fixed;
        height: 1100px;
        width: 100%;
        color: #fff;
    }

    #services-container-op{
        width: 100%;
        height: 100%;
        background-color: rgb(0,0,0, 0.85);
    }

    #services{
        width: 100%;
    }

    .service{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 75%;
        font-weight: 400;
        font-size: 40pt;
    }
    .service h2{
        margin: 0;
        font-weight: 400;
        font-size: 15pt;
    }

    .service p{
        font-weight: 400;
        font-size: 12pt;
        color: #cccccc;
    }

    /* END_SERVICES_BLOC */

    /* ABOUT_BLOC */

    #about-la-fab{
        width: 70%;
        margin-left: 15%;
        text-align: center;
        font-size: 20px;
    }

    #about-img{
        display: none;
    }

    /* END_ABOUT_BLOC */

    /* PRODUCT_BLOC */

    #product-container{
        margin-top: 50px;
        width: 100%;
    }

    .product{
        width: 100vw;
        height: 100vw;
        position: relative;
    }

    .product-img{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .product-img img{
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .product-txt{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        background-color: rgba(0,0,0, 0.35);
    }

    .product-txt h2{
        margin-top: 40%;
        margin-left: 0;
        margin-right:0;
        padding: 0;
        font-weight: 400;
        color: #fff;
    }

    /* END_PRODUCT_BLOC */

    /* FORM_BLOC */

    #contact-container{
        width: 100%;
        height: 500px;
    }

    /* END_FORM_BLOC */

    /* FOOTER_BLOC */

    footer{
        width: 100%;
        height: 250px;
        background-color: rgba(0,0,0, 0.75);
        text-align: center;
        color: #fff;
    }

    #social-media{
        display: flex;
        width: 100%;
        height: 200px;
        margin: auto;
        font-size: 25pt;
    }

    #social-media a{
        margin: auto;
        color: #fff;
        text-shadow: 2px 4px 2px rgba(0,0,0,0.16);
    }


    /* END_FOOTER_BLOC */


}
