    /* Form */

    #contactTitle{
        font-family: 'The Girl Next Door', cursive;
        text-align: center;
        text-transform: capitalize;
    }

    .container{
        width: 100%;
    }

    .form{
        display: grid;
        width: 70%;
        margin: auto;
    }

    form label{
        font-family: poppins, sans-serif;
    }
    input{
        margin: 3% 0 3% 0;
        padding: 10px 0 10px 0;
        background-color: transparent;
        border: none;
        width: 100%;
        height: 50px;
        border-bottom: 2px solid #035661;
        margin: 0;
        position: relative;
        -moz-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }

    textarea{
        margin: 3% 0 3% 0;
        padding: 10px 0 10px 0;
        background-color: transparent;
        border: none;
        width: 100%;
        height: 100px;
        border-bottom: 2px solid #035661;
        margin: 0;
        position: relative;
        -moz-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
        resize: none;
    }

    input:focus, textarea:focus{
        outline: none;
    }

    label {
        display: block;
        margin: 0;
        font-weight: 400;
        z-index: 1;
        color: #aaa;
        font-size: 18px;
        line-height: 10px;
        margin-top: 50px;

    }

    select {
        width: 20em;
        margin-top: 3em ;
        font-family: pfs-bold;
        color: #e0e1e2;
        text-transform: uppercase;
        position: relative;
        -webkit-transition: width 0.5s;
        transition: width 0.5s;
        will-change: width;
        background-color: #485761;
        padding: 1em;
        cursor: pointer;

    }

    select .option:not(.active) {
        display: none;
        opacity: 0;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    select.visible {
        -webkit-animation: bounce 1s;
        animation: bounce 1s;
        width: 24em;
    }

    select.visible:before, select.visible:after {
        border-color: #fff;
    }

    select.visible:before {
        opacity: 0;
    }

    select.visible:after {
        opacity: 1;
    }

    select.visible .option {
        color: #fff;
        display: block;
    }
    select.opacity .option {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
    select.opacity .option:nth-child(0) {
        -webkit-transition: opacity 0.5s 0s, -webkit-transform 0.5s 0s;
        transition: opacity 0.5s 0s, -webkit-transform 0.5s 0s;
        transition: opacity 0.5s 0s, transform 0.5s 0s;
        transition: opacity 0.5s 0s, transform 0.5s 0s, -webkit-transform 0.5s 0s;
    }
    select.opacity .option:nth-child(1) {
        -webkit-transition: opacity 0.5s 0.1s, -webkit-transform 0.5s 0.1s;
        transition: opacity 0.5s 0.1s, -webkit-transform 0.5s 0.1s;
        transition: opacity 0.5s 0.1s, transform 0.5s 0.1s;
        transition: opacity 0.5s 0.1s, transform 0.5s 0.1s, -webkit-transform 0.5s 0.1s;
    }
    select.opacity .option:nth-child(2) {
        -webkit-transition: opacity 0.5s 0.2s, -webkit-transform 0.5s 0.2s;
        transition: opacity 0.5s 0.2s, -webkit-transform 0.5s 0.2s;
        transition: opacity 0.5s 0.2s, transform 0.5s 0.2s;
        transition: opacity 0.5s 0.2s, transform 0.5s 0.2s, -webkit-transform 0.5s 0.2s;
    }
    select.opacity .option:nth-child(3) {
        -webkit-transition: opacity 0.5s 0.3s, -webkit-transform 0.5s 0.3s;
        transition: opacity 0.5s 0.3s, -webkit-transform 0.5s 0.3s;
        transition: opacity 0.5s 0.3s, transform 0.5s 0.3s;
        transition: opacity 0.5s 0.3s, transform 0.5s 0.3s, -webkit-transform 0.5s 0.3s;
    }
    select.opacity .option:nth-child(4) {
        -webkit-transition: opacity 0.5s 0.4s, -webkit-transform 0.5s 0.4s;
        transition: opacity 0.5s 0.4s, -webkit-transform 0.5s 0.4s;
        transition: opacity 0.5s 0.4s, transform 0.5s 0.4s;
        transition: opacity 0.5s 0.4s, transform 0.5s 0.4s, -webkit-transform 0.5s 0.4s;
    }
    select.opacity .option:nth-child(5) {
        -webkit-transition: opacity 0.5s 0.5s, -webkit-transform 0.5s 0.5s;
        transition: opacity 0.5s 0.5s, -webkit-transform 0.5s 0.5s;
        transition: opacity 0.5s 0.5s, transform 0.5s 0.5s;
        transition: opacity 0.5s 0.5s, transform 0.5s 0.5s, -webkit-transform 0.5s 0.5s;
    }
    select.opacity .option:nth-child(6) {
        -webkit-transition: opacity 0.5s 0.6s, -webkit-transform 0.5s 0.6s;
        transition: opacity 0.5s 0.6s, -webkit-transform 0.5s 0.6s;
        transition: opacity 0.5s 0.6s, transform 0.5s 0.6s;
        transition: opacity 0.5s 0.6s, transform 0.5s 0.6s, -webkit-transform 0.5s 0.6s;
    }
    select.opacity .option:nth-child(7) {
        -webkit-transition: opacity 0.5s 0.7s, -webkit-transform 0.5s 0.7s;
        transition: opacity 0.5s 0.7s, -webkit-transform 0.5s 0.7s;
        transition: opacity 0.5s 0.7s, transform 0.5s 0.7s;
        transition: opacity 0.5s 0.7s, transform 0.5s 0.7s, -webkit-transform 0.5s 0.7s;
    }
    select.opacity .option:nth-child(8) {
        -webkit-transition: opacity 0.5s 0.8s, -webkit-transform 0.5s 0.8s;
        transition: opacity 0.5s 0.8s, -webkit-transform 0.5s 0.8s;
        transition: opacity 0.5s 0.8s, transform 0.5s 0.8s;
        transition: opacity 0.5s 0.8s, transform 0.5s 0.8s, -webkit-transform 0.5s 0.8s;
    }
    select.opacity .option:nth-child(9) {
        -webkit-transition: opacity 0.5s 0.9s, -webkit-transform 0.5s 0.9s;
        transition: opacity 0.5s 0.9s, -webkit-transform 0.5s 0.9s;
        transition: opacity 0.5s 0.9s, transform 0.5s 0.9s;
        transition: opacity 0.5s 0.9s, transform 0.5s 0.9s, -webkit-transform 0.5s 0.9s;
    }
    select.withBG .option {
        -webkit-transition: background-color 0.1s;
        transition: background-color 0.1s;
    }
    select.withBG .option:not(.placeholder):hover {
        background-color: #5aafee;
    }
    select.withBG .option:not(.placeholder).active {
        background-color: #5aafee;
    }
    select:after, select:before {
        content: "";
        position: absolute;
        top: 1.5em;
        right: 1em;
        width: 0.75em;
        height: 0.75em;
        border: 0.2em solid #86919a;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-transition: opacity 0.2s;
        transition: opacity 0.2s;
    }
    select:before {
        border-left: none;
        border-top: none;
        top: 1.2em;
    }
    select:after {
        border-right: none;
        border-bottom: none;
        opacity: 0;
    }

    .btn{
        margin-top: 50px;
        padding: 15px;
        background-color: #485761;
        color: #ffffff;
        border: none;
        cursor: pointer;
    }

    .btn:hover{
        background-color: #18b1c5;
        transition: ease 0.5s;
        color: white;
    }

